
.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
}

.timeline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin: 40px 0;
  position: relative;
}

.timeline-container.reverse {
  flex-direction: row-reverse;
}
.timeline-pointer.reverse {
  border-left: none;
  border-right: 16px solid #2196f3; /* Reversed: pointing left */
}
.timeline-card {
  width: 40%;
  padding: 20px;
  border: 6px solid var(--clr-primary);
  color: white;
  text-align: center;
  background-color: transparent;
  box-shadow: var(--shadow); /* Hotpink soft shadow */
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(255, 105, 180, 0.5);
}


.timeline-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: var(--clr-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}

.icon {
  width: 20px;
  height: 20px;
  fill:var(--clr-primary)
}

.line {
  height: 50px;
  width: 4.5px;
  background-color: var(--clr-fg);
  margin-top: 10px;
}

.timeline-date {
  width: 40%;
  text-align: center;
  color: var(--clr-fg-alt);
}
.timeline-pointer {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid rgb(33, 150, 243); /* Blue color */
  margin-left: -1px; /* adjust if needed */
}