.fade-left-section {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.6s ease-out;
  will-change: transform, opacity;
}

.fade-left-section.is-visible {
  opacity: 1;
  transform: translateX(0);
}
